<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kripto News</title>

    <link rel="icon" href="/src/public/images/logo-color.png">

    <link rel='stylesheet' href="/src/public/css/index.css" type="text/css">

    <meta property="og:image" content="images/preview/preview-news.png"/>
    <meta property="og:title" content="Kripto News"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://kripto-website.herokuapp.com/news"/>
</head>
<style>
    h1 {
        margin: 1rem 0;
    }
</style>
<body>
<div id="loading">
    <img id="loading-image" src="/src/public/images/loading.gif" alt="Loading..."/>
</div>

<%- include ('partials/navbar') %>

<!-- Main Content -->
<div class="flex-container" style="margin-top: 2rem">
    <div class="col-2-3 text-center fadeInDown">
        <h1><b> <span class="green-text">Cryptocurrency </span>News</b></h1>

        <rssapp-imageboard id="tPGy4HKkqL8ZkwGz"></rssapp-imageboard>

        <rssapp-wall id="tPGy4HKkqL8ZkwGz"></rssapp-wall>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/src/public/js/jquery.js"></script>
<script src="/src/public/js/popper.min.js"></script>

<script src="https://widget.rss.app/v1/imageboard.js" type="text/javascript" async></script>
<script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>

<script src="/src/public/js/loading.js"></script>

</body>

</html>